/* home.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  color: #fff;
  margin: 0;
}

.homepage_home {
  text-align: center;
}

/* Custom Navbar */
/* Assuming CustomNavBar styling is provided in your existing CSS */

/* Hero Banner */
.hero-banner_home {
  background-color: #060301;
  padding: 50px 0;
}

.hero-content_home {
  max-width: 800px;
  margin: 0 auto;
}

.headline_home {
  font-size: 2.5em;
  margin: 0;
}

.subheadline_home {
  font-size: 1.5em;
  margin: 10px 0;
}

.cta-button_home {
  background-color: #fff;
  color: #d63408;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button_home:hover {
  background-color: #e05409;
  color: #fff;
}

/* Key Features Section */
.key-features_home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.feature-card_home {
  flex: 0 0 calc(33.333% - 20px);
  background-color: #74c1da;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.feature-heading_home {
  font-size: 1.5em;
  margin: 0;
}

.feature-description_home {
  font-size: 1em;
  color: #fff;
  margin: 10px 0;
}

/* Success Stories Section */
.success-stories_home {
  /* Add styles for success stories if provided in your existing CSS */
}

/* Call to Action */
.call-to-action_home {
  margin-top: 50px;
}

.register-button_home {
  background-color: #fff;
  color: #00060a;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.register-button_home:hover {
  background-color: #010305;
  color: #fff;
}
